.app-body {
    width: 100%;
}

.swap-container {
    width: 35%;
    background: blanchedalmond;
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
}

.swap-text {
    text-align: center;
    border-radius: 30px;
    background-color: rgb(99 147 190 / 20%);
    h1 {
        color: #3b25b0;
    }
}

.swap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
