.shark-gain-item__tr {
    &:hover {
        background: unset;
        cursor: default;
    }
}

.shark-gain-item__td {
    text-align: start;
    padding: 10px 20px 10px 20px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    &:nth-child(2) {
        color: #482ee8;
    }
}