
.setting-trading-shark-tab {
    background: #fff;
    color: #333;

    thead {
        font-size: 1.5rem;
        border-bottom: 1px solid #fff;

        tr {
            position: sticky;
            z-index: 100;
            top: 0;
            background: rgb(239, 242, 245);
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            color: #473d85;
            text-transform: uppercase;

            &:hover {
                cursor: default;
                background: rgb(239, 242, 245);
            }

            th {
                padding: 10px;
                border-right: 1px solid #fff;
            }
        }
    }

    tbody {
        .setting-trading-shark__tr {
            
            .setting-trading-shark__tr__name {
                display: flex;
                justify-content: center;

                img {
                    margin-right: 12px;
                }
            }

        }
        td {
            text-align: center;

            border-left: 1px solid #eee;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;
            padding: 12px 0px;
            &:nth-child(2) {
                color: #3861fb;
            }
            &:nth-child(3) {
                a {
                    color: #482ee8;
                }
            }
        }
    }
}


#transaction-table__pagination {
    background: #fff;
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(6, 29, 33, 0.8995973389355743) 100%);

    ul {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    ul > li {
        border: none;
        border-radius: 50%;
        color: #838383;
        cursor: pointer;
        display: inline-block;
        font-size: 1.2rem;
        height: 32px;
        margin: 0 5px;
        outline: none;
        outline-style: initial;
        padding: 0.5rem;
        text-align: center;
        width: 32px;

        a {
            padding: 8px;
            color: #000;
        }
    }
}