.wrapper {
  width: 100%;
}

.header-image {
  margin: 5px 0;
}

.header-section {
  max-width: 1400px;
  margin: 0 auto;
}

.header-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
}

.navbar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px 0;

  .NavHeader-list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: wheat;
    margin-bottom: 0;

    li {
      position: relative;
      transition: 0.5s linear;
      list-style: none;
      border-bottom: 1px solid transparent;
      line-height: 20px;
      font-size: 20px;

      a {
        color: #000000;
        padding: 20px;
        margin-right: 30px;
      }

      &:hover {
        &::before {
          transform: scale(1);
        }
      }

      &:hover > a {
        color: #a8a8fb;
        cursor: pointer;
      }

      .NavHeader-item-active {
        color: #a8a8fb;
        font-weight: bold;
      }
    }
  }
}

.profile {
  display: inline-flex;
  align-items: center;

  .profile-image {
    border-radius: 50%;
    object-fit: cover;
    width: 30px;
    height: 30px;
  }

  .profile-name {
    margin-left: 4px;

    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #352e5b;
      transition: 0.5s;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100px;
      height: 1.2em;
    }
  }
}

.content-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}

.BlogItem {
  position: relative;
  border-radius: 4px;
  padding: 10px 300px;
  width: 100%;

  .BlogItem-title {
    text-align: center;
    font-size: 28px;
  }

  .BlogItem-publishDate {
    font-size: 18px;
    text-align: right;
    padding-right: 80px;
    margin-bottom: 10px;
  }

  .BlogItem-image {
    text-align: center;
    img {
      margin: auto;
      width: 100%;
      height: 500px;
      border-radius: 16px;
    }
  }

  .BlogItem-description {
    font-size: 26px;
    color: #aeaeae;
    text-align: center;
    margin: 30px 0;
    font-style: italic;
  }

  .BlogItem-content {
    text-align: left;
  }
}

.comment-box {
  padding: 0 400px;
  margin-top: 30px;
  padding-bottom: 60px;

  .comment-input {
    height: 52px !important;
    width: 500px !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }

  .comment-button {
    
  }
}
