.wrapper {
    --primary: rgb(56, 97, 251);
    --success: #13C39C;
    --error: #EE3959;

    font-size: 1.6rem;
    min-width: 130px;
    padding: 6px 16px;
    border-radius: 4px;
    font-weight: 700;

    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;

    // +.wrapper {
    //     margin-left: 16px;
    // }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
    }
}

.title {
    font-family: 'ProximaNova', sans-serif;
}

.icon+.title,
.title+.icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 25px;
    text-align: center;
}

//button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--text-white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), rgb(56, 97, 251);
        color: rgb(255, 255, 255);
    }
}

.success {
    color: var(--text-white);
    background-color: var(--success);
    border-color: var(--success);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), var(--success);
        color: rgb(255, 255, 255);
    }
}


.error {
    color: var(--text-white);
    background-color: var(--error);
    border-color: var(--error);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), var(--error);
        color: rgb(255, 255, 255);
    }
}



.dark {
    color: rgb(0, 0, 0);
    background-color: rgb(239, 242, 245);
    border-color: none;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), rgb(239, 242, 245);
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
}

.linearGradientPrimary {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
    &:hover {
        background-position: right center; 
        color: #fff;
        text-decoration: none;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background: rgb(248, 250, 253);
    }
}

.outlineBrow {
    color: var(--text-color);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// .text {
//     &:hover {
//         text-decoration: underline;
//     }
// }

//disabled\

//button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 136px;
    padding: 14px 16px;
}

.custom-login {
    color: red;
}