.wrapper {
    margin-bottom: 16px;
}

.wallet-top-container {
    margin-top: 16px;
}

.wallet-bottom-container {
    margin: 20px;

    .wallet-content-statics {
        // height: 600px;
        // display: flex;
    }

    .wallet-chart {
        background: #ffffff;
        border: 2px solid #eceef7;
        box-shadow: 0px 20px 50px rgba(220, 224, 249, 0.5);
        border-radius: 20px;
            padding: 12px;
    }

    .wallet-referent {
        background: #ffffff;
        border: 2px solid #eceef7;
        box-shadow: 0px 20px 50px rgba(220, 224, 249, 0.5);
        border-radius: 20px;
        margin-left: 16px;
        padding: 20px 2px;
        height: 100%;

        &__heading {
            font-weight: 700;
            font-size: 20px;
            color: #000000;
            text-align: center;
            margin-bottom: 16px;
        }
    }
}

.wrapper-infor {
    border: 1px solid #eceef7;
    box-shadow: 0px 20px 50px rgba(220, 224, 249, 0.5);
    border-radius: 20px;
    padding: 24px;
    margin: 0 20px;
}



.detail-tippy {
     border-radius: 6px;
    background: #eff2f5;;
    padding: 2px 24px;
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 55%;
    cursor: pointer;
    

    &:hover {
        background-color: #808a9d;
        cursor: pointer;
        color: rgb(255, 255, 255);
    }
}


.detail-tippy-container {
    position: relative;
}


.detail-tippy:hover ~ .detail-tippy-caret-down {
    color: rgb(255, 255, 255);
}

.content-tippy {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 1px 2px rgb(128 138 157 / 12%), 0px 8px 32px rgb(128 138 157 / 24%);

    .tippy-item {
        font-size: 14px;
        color: #000 !important;
        padding: 8px 18px;
        font-weight: 700;

        &:hover {
            background-color: #f8fafd;
        }

        svg {
            margin-left: 8px;
        }
    }
}
