.table-shark__crypto {
    background: #fff;
    color: #333;
    span {
        color: #fff;
    }
    thead {
        tr {
            background: #fff;
            border-bottom: 1px solid #eff2f5;
            border-top: 1px solid #fff;
            color: #473d85;
            text-transform: uppercase;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 90;
            &:hover {
                background-color: #fff;
                cursor: default;
            }
            th {
                padding: 10px;
                border-right: 1px solid #fff;
                &:nth-child(2) {
                    text-align: center;
                }
            }
        }
    }
}

