.table-shark__crypto {
    background: #A697FF;
    color: #fff;

    thead {
        tr {
            background: #A697FF;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            color: #473d85;
            text-transform: uppercase;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 90;
            &:hover {
                background-color: #A697FF;
                cursor: default;
            }
            th {
                padding: 10px;
                border-right: 1px solid #fff;
            }
        }
    }
}

