.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001a2c;
    height: 100vh;
}

.body {
    padding: 36px;
    border: 1px solid #133752;
    background-color: #001a2c;
    margin-bottom: 40px;
}

.colMiddle {
    margin-right: 40px;
}

.statisticsOverview {
    max-width: 100%;
    color: white;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            list-style: none;

            span {
                color: aquamarine;
            }
        }
    }
}

table {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    color: #333;

    thead {
        tr {
            position: sticky;
            z-index: 90;
            top: 0;

            background: #fff;
            border-bottom: 1px solid #eff2f5;
            border-top: 1px solid #eff2f5;

            &:hover {
                background-color: #f8fafd;
                cursor: pointer;
            }
        }

        font-size: 1.5rem;
        border-bottom: 1px solid #fff;

        th {
            padding: 10px 10px 10px 0;
        }
    }
}

tr {
    &:hover {
        background-color: #f8fafd;
        cursor: pointer;
    }
}

td {
    text-align: start;
    padding: 0px 0 0px 20px;
}

.pricedata {
    padding: 0px 20px 0 0 !important;

    img {
        margin-right: 5px;
        margin-left: 0 !important;
    }
}

.iconFollow {
    cursor: pointer;
}

.listCoin {
    img {
        margin-right: 10px;
        margin-left: 10px;
    }

    .priceCoin {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

// pagination

#market-table__pagination {
    background: #fff;
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: inline-block;
        margin-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    ul>li {
        border: none;
        color: #838383;
        cursor: pointer;
        display: inline-block;
        font-size: 1.2rem;
        margin: 0 5px;
        outline: none;
        outline-style: initial;
        padding: 0.5rem 0rem;
        text-align: center;

        a {
            padding: 6px 12px;
            border-radius: 4px;
            color: #4200ff;
        }
    }
}

.previous {
    padding: 6px 13px;
    background: #c4cdd5;
}

.headFilterH2 {
    h2 {
        color: aquamarine;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
}

//market-content
.market-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__search {
        position: relative;
        height: 40px;
        width: 245px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        line-height: 1.6;
        border-color: #eaecef;
        border-radius: 8px;
        padding-right: 8px;
        border: 2px solid rgb(239, 242, 245);
        background-color: rgb(239, 242, 245);
        transition: border-color 0.5s;

        &:hover {
            background-color: #fff;
            border-color: #3861fb;
        }

        &:focus-within {
            background-color: #fff;
            border-color: #3861fb;
        }

        input {
            outline: none;
            border: none;
            background-color: inherit;
            opacity: 1;
            padding: 6px 0;
            font-size: 14px;
        }

        .search--icon {
            color: rgb(166, 176, 195);
        }

        .active-value {
            position: absolute;
            color: #b7bdc6;
            cursor: pointer;
            right: 4%;
        }
    }

    h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: #352e5b;
        margin-top: 20px;
        margin-bottom: 18px;
    }

    p {
        margin-top: 45px;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #a69ed6;
    }
}

.disabled {
    a {
        background: #919eab !important;
    }
}

input:not(:placeholder-shown)~.search--icon {
    fill: red;
}

.no-data {
    margin: 30px 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__icon {
        margin: 0px;
        min-width: 0px;
        color: currentcolor;
        font-size: 96px;
        fill: currentcolor;
        width: 1em;
        height: 1em;
    }

    &__title {
        color: rgb(112, 122, 138);

        span {
            font-weight: 500;
        }
    }
}

.increase {
    color: #21ce66;
}

.reduce {
    color: #f33a58;
}

.market-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
}

.market-box__category {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 28px;
    background: #eff2f5;
    max-height: 34px;

    &--filter {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 8px 24px;

        &--container {
            display: flex;
            align-items: center;
            color: #333;

            p {
                font-weight: 600;
                font-size: 12px;
                margin-right: 10px;
                margin-bottom: 0px;
            }
        }
    }

    .selected-item {
        color: rgb(56, 97, 251) !important;
    }

    .market-box-content-filter {
        position: absolute;
        top: 110%;
        left: 0%;
        width: 280px;
        // max-height: 370px;
        border-radius: 8px;
        animation: fadeIn 0.4s forwards;
        z-index: 100;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes leaves {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(0, 1);
    }
}