@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --text-white: #fff;
    --text-black: #000;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// html,
// body,
// #root,
// .app {
//     height: 100%;
// }
