@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
// @import 'antd/dist/antd.css';

:root {
    --text-white: #fff;
    --text-color: #000;
    --primary: blue;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

a {
    // color: var(--text-color);
    text-decoration: none;
}


//pagination

.pagination {
		display: inline-block;
		margin-bottom: 0;
		padding-left: 15px;
		padding-right: 15px;

	.next,
	.previous {
		background-color: transparent !important;
		color: var(--text-color) !important;
		font-size: 1.4rem !important;
	}

	.active {
		background-color: var(--primary) !important;
		color: #fff !important;
	}

	.disabled {
		cursor: default;
	}

}