.table-shark__crypto {
    background: #A697FF;
    color: #fff;
    a {
        color: #482ee8 !important;
    }
    thead {
        tr {
            background: #A697FF;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            color: #473d85;
            text-transform: uppercase;
            &:hover {
                background: none;
                cursor: default;
            }

            th {
                padding: 10px;
                border-right: 1px solid #fff;
            }
        }
    }
}

