.transaction-shark__tr {
    td {
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        &:nth-child(2) {
            color: #482ee8;
        }
    }
    &:hover {
        opacity: 0.5;
        background: cornflowerblue;
        cursor: pointer;
        a {
            color: blue;
        }
    }
}