.tr-crypto__item {
    text-align: center;
    border-bottom: 1px solid #fff;
    td {
        padding: 8px 0 8px 0;
        text-align: center;
        border-right: 1px solid #fff;
    }

    &:hover {
        opacity: 0.5;
        background: cornflowerblue;
        cursor: pointer;
    }

}
