.tr-crypto__item {
    text-align: center;
    border-bottom: 1px solid #eee;
    td {
        padding: 8px 0 8px 0;
        text-align: center;
        border-right: 1px solid #eee;
        color: #333;

    }

    &:hover {
        // opacity: 0.5;
        // background: cornflowerblue;
        // cursor: pointer;
        background: #a7c1ee;
        cursor: pointer;
    }
}
