.transaction-container {
    background-color: #A697FF;
    border-radius: 8px;
    margin-left: 2%;
    overflow: scroll;
    height: 100vh;
}

.transaction-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #fff;
    background-color: rgb(124 112 195);
    input {
        padding: 6px 15px;
        border-radius: 6px;
        margin-right: 8px;
        border: none;

        &:focus-visible {
            outline: none;
        }
    }

    h1 {
        margin-right: 15px;
        font-size: 24px;
        color: #fff;
    }
}

.transaction-shark__table {
    background: #A697FF;
    color: #fff;

    thead {
        font-size: 1.5rem;
        border-bottom: 1px solid #fff;

        tr {
            position: sticky;
            z-index: 100;
            top: 0;
            background: rgb(124 112 195);
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            color: #473d85;
            text-transform: uppercase;

            &:hover {
                cursor: default;
                background-color: rgb(124 112 195);
            }

            th {
                padding: 10px;
                border-right: 1px solid #fff;
            }
        }
    }

    tbody {
        .transaction-shark__tr {
            text-align: center;
            border-bottom: 1px solid #fff;

            &:hover {
                opacity: 0.5;
                background-color: cornflowerblue;
            }

            td {
                padding: 12px 0 12px 0;
                text-align: center;
                border-right: 1px solid #fff;
            }
        }
    }
}

#transaction-table__pagination {
    background: #fff;
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: inline-block;
        margin-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
        list-style: none;

        li {
            border: none;
            color: #838383;
            cursor: pointer;
            display: inline-block;
            font-size: 1.2rem;
            margin: 0 5px;
            outline: none;
            outline-style: initial;
            padding: 0.5rem 0rem;
            text-align: center;

            a {
                padding: 6px 12px;
                border-radius: 4px;
                color: #4200ff;
            }
        }
    }
}