.transaction-container {
    background-color: #fff;
    border-radius: 8px;
    margin-left: 2%;
    overflow: scroll;
    height: 100vh;
    box-shadow: rgb(128 138 157 / 12%) 0px 1px 2px, rgb(128 138 157 / 24%) 0px 8px 32px;
}

.transaction-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #fff;
    background-color: rgb(239, 242, 245);

    input {
        padding: 6px 15px;
        border-radius: 6px;
        margin-right: 8px;
        border: 3px solid #eee;
        transition: 0.5s;

        &:hover {
            background-color: #fff;
            border: 3px solid #3861fb;
        }

        &:focus-visible {
            outline: none;
        }
    }

    h1 {
        margin-right: 15px;
        font-size: 24px;
        color: #473d85;
    }
}

.transaction-shark-tab {
    background: #fff;
    color: #333;

    thead {
        font-size: 1.5rem;
        border-bottom: 1px solid #fff;

        tr {
            position: sticky;
            z-index: 100;
            top: 0;
            background: rgb(239, 242, 245);
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            color: #473d85;
            text-transform: uppercase;

            &:hover {
                cursor: default;
                background: rgb(239, 242, 245);
            }

            th {
                padding: 10px;
                border-right: 1px solid #fff;
            }
        }
    }

    tbody {
        .transaction-shark__tr {
            &:hover {
                background-color: cornflowerblue;
                cursor: pointer;
            }


        }
        td {
            text-align: center;

            border-left: 1px solid #eee;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;
            padding: 12px 0px;
            &:nth-child(2) {
                color: #3861fb;
            }
            &:nth-child(3) {
                a {
                    color: #482ee8;
                }
            }
        }
    }
}

#transaction-table__pagination {
    background: #fff;
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: inline-block;
        margin-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
        list-style: none;

        li {
            border: none;
            color: #838383;
            cursor: pointer;
            display: inline-block;
            font-size: 1.2rem;
            margin: 0 5px;
            outline: none;
            outline-style: initial;
            padding: 0.5rem 0rem;
            text-align: center;

            a {
                padding: 6px 12px;
                border-radius: 4px;
                color: #4200ff;
            }
        }
    }
}

