//menu items

.menu-item {
    --fill-color-icon: #7665d8;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 40px;

    &__title {
        margin-left: 10px;
    }

    svg {
        margin-right: 22px;
    }

    &:hover {
        background-color: #eff2f5;
    }

    &:hover ~ .menu-item__title {
        color: red;
    }

    &.active {
        

        .menu-item__title {
            color: var(--fill-color-icon);
            font-weight: 600;
        }

        svg {
            fill: var(--fill-color-icon);

            path {
                stroke: var(--fill-color-icon);
            }
        }
    }
}
