//menu items

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-left: 22px;

    
    &.active {
      
        
        .menu-item__title {
             color: var(--primary);
        }

        .menu-item__icon {
            svg {
                 color: var(--primary);
            }
        }
    }

    &__title {
        margin-left: 10px;
        color: #A5A2B8;
    }

    &__icon {
        svg {
            margin-right: 22px;
        }
    }
}
