.wrapper {
    --sidebar-width: 220px;

    display: flex;

    .sidebar-wrapper {
        width: var(--sidebar-width);
        overflow: hidden;
        transition: all 0.5s ease;
    }

    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #f8f7ff;
        height: 100%;
        width: var(--sidebar-width);
        flex-direction: column;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        overflow: hidden;
    }

    .container {
        width: 100%;
        z-index: 100;
        display: block;
        margin-left: 30px;
    }

    .hide-sidebar {
        width: 0;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

    .hide-sidebar > .sidebar {
        left: calc(0px - var(--sidebar-width));
    }
}

.icon-menu {
    --primary-color: #9381ff;

    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-color);
    padding: 10px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;
    h3 {
        font-size: 30px;
        font-weight: 500;
        color: #9381ff;
        cursor: pointer;
    }
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
    cursor: pointer;

    img {
        border-radius: 50%;
        object-fit: cover;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    span {
        color: #fff;
        font-size: 14px;
    }

    p {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        color: #aeaeae;
    }
}

.user-profile__text {
    span {
        font-weight: 600;
        font-size: 14px;
        color: #404040;
    }
    p {
        white-space: nowrap; 
        width: 50px; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}

.user-profile__right {
    display: flex;
    justify-content: center;
    align-items: center;
}