.wrapper {
    --sidebar-width: 220px;

    .sidebar-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        background-color: #f8f7ff;
        height: 100%;
        width: var(--sidebar-width);
        flex-direction: column;
        transition: all 0.5s ease;
        overflow: hidden;
    }

    .container {
        z-index: 100;
        display: block;
        margin-left: var(--sidebar-width);
        transition: all 0.5s ease;
    }

    .container.mr {
        margin-left: 30px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .hide-sidebar {
        width: 0;
        transition: all 0.5s ease;
    }

    .hide-sidebar > .sidebar {
        left: calc(0px - var(--sidebar-width));
    }
}

.icon-menu {
    --primary-color: #9381ff;

    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-color);
    padding: 10px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;
    h3 {
        font-size: 30px;
        font-weight: 500;
        color: #9381ff;
        cursor: pointer;
    }
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
    cursor: pointer;
    background: rgb(247 247 247);
    border-radius: 6px;
    padding: 3px 6px;

    img {
        border-radius: 50%;
        object-fit: cover;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    span {
        color: #fff;
        font-size: 14px;
    }

    p {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        color: #aeaeae;
    }
}

.user-profile__text {
    display: flex;
    align-items: center;

    span {
        font-weight: 400;
        font-size: 14px;
        color: rgb(156 163 175 / 1);
    }
    p {
        font-weight: 700;
        margin-left: 6px;
        white-space: nowrap;
        width: 50px;
        color: rgb(156 163 175);
        margin-right: 6px;
    }
}

.user-profile__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

