.wrapper {
    padding: 5px 20px;
    .header_profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-image {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
     }   
}

.fb-share-button {
    padding: 6px 20px;
    background-color: #0d7ae9;
    border-radius: 8px;
    a {
        color: #fff;
    }
}

.profile-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    h5 {
        font-weight: 400;
        text-align: center;
        font-size: 16px;
    }
    .copy-image {
        margin-left: 5px;
        &:hover {
            cursor: pointer;
        }
    }
}

.profile-area {
    width: 99%;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 12px;
    padding: 16px;
    h4 {
        font-size: 21px;
        font-weight: 500px;
        border-bottom: 1px solid #333;
        text-align: center;
    }
    margin-bottom: 10px;
}

.portfolio-table {
    .portfolio-th {
        border-right: 1px solid #eff2f5;
        text-align: center;
   }

}