.profile {
    text-align: center;
    margin-bottom: 20px;

    h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #352e5b;
        margin-bottom: 36px;
    }

    .profile-image {
        margin-bottom: 18px;

        border-radius: 50%;
        object-fit: cover;
        width: 50px;
        height: 50px;
    }

    h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 16px;
        color: #352e5b;
        transition: 0.5s;
    }

    h6 {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #9381ff;
        transition: 0.5s;

        &:hover {
            color: #ffd8be;
        }
    }
}

.profile-account {
    padding: 0 24px 64px 24px;

    h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #352e5b;
        margin-bottom: 24px;
    }

    .profile-account--text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        h5 {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #352e5b;
        }

        h6 {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.05em;
            color: #a69ed6;
        }
    }
}

.profile-assets {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #352e5b;
    margin-bottom: 24px;
    padding: 0 24px 120px 24px;

    .more-assets {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
    }

    h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #352e5b;
        margin-bottom: 24px;
    }

    .profile-assets--text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        h5 {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #a69ed6;
        }

        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.05em;
            color: #a69ed6;
        }

        h6 {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.05em;
            color: #352e5b;
        }
    }
}

.btn-portfolio {
    display: flex;
    margin: 0 auto;
    border: 0;

    p {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        padding: 12px 50px;
        background: linear-gradient(276.21deg, #9381ff 4.18%, rgba(147, 129, 255, 0.7) 97.48%);
        border-radius: 4px;
        margin-bottom: 0;
        transition: 0.5s;

        &:hover {
            color: #ffd8be;
            background-color: rgba(255, 238, 221, 0.36);
            cursor: pointer;
        }
    }
}

.portfolio-container {
    padding: 20px 0;
    width: 200px;
}

.account {
    list-style: none;
    li {
        padding: 8px;
        border-top: 1px solid #333;
        transition: 0.6s;
        &:hover {
            background: #9381ff;
            color: #fff;
            cursor: pointer;
        }
    }
}

.logout-modal {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 280px;

    &__title {
        font-size: 14px;
        font-weight: 800;
        margin-bottom: 20px;
    }

    &__options {
        display: flex;
        align-items: center;

        &__degree {
            padding: 6px 10px;
            background-color: #644de7;
            font-size: 14px;
            color: #fff;
            outline: none;
            border: none;
            margin-right: 22px;
            border-radius: 4px;
            cursor: pointer;
        }

        &__cancel {
            font-size: 14px;
            color: #816eeb;
            outline: none;
            border: none;
            margin-left: 45px;
            background-color: #fff;
            font-weight: 600;
            cursor: pointer;
        }
    }
}
