.shark-crypto {
    background-color: #fff;
    border-radius: 8px;
    margin-left: 2%;
    overflow: scroll;
    height: 100vh;
    box-shadow: rgb(128 138 157 / 12%) 0px 1px 2px, rgb(128 138 157 / 24%) 0px 8px 32px;
    // margin-top: -109px;
}

.crypto-list__choose {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
    padding: 8px 10px;
    border-bottom: 1px solid #fff;

    h6 {
        color: #fff;
        margin-bottom: 0;
        margin-right: 8px;
        transition: 0.5s;

        &:hover {
            color: #4200FF;
            cursor: pointer;
        }
    }

}

.table-shark__crypto {
    background: #A697FF;
    color: #fff;

    thead {
        tr {
            background: #A697FF;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;

            &:hover {
                background: none;
                cursor: default;
            }

            th {
                padding: 10px;
                border-right: 1px solid #fff;
            }
        }
    }
}

