.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001a2c;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,29,33,0.8995973389355743) 100%);
    height: 1055px;
}

.body {
    padding: 36px;
    border: 1px solid #133752;
    background-color: #001a2c;
    margin-bottom: 40px;
}

.colLeft {
    width: 15%;
    border-right: 1px solid #fff;
    height: 100vh;
    float: left;
}

.logoImg {
    border-bottom: 1px solid #fff;
}

.logoSvg {
    width: 50%;
    margin-left: calc((100% - 50%) / 2);
}

.listMenu {
    color: aquamarine;
    li {
        list-style: none;
        padding: 15px;
        // background-color: aliceblue;

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: aquamarine;
            .iconBox {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }

}

.icon {
    margin-right: 10px;
}

.listItem {
    border-bottom: 1px solid #ffff;
    transition: 1s;
    transform: 2s ease-in-out;
    &:hover {
        background-color: azure;
        color: aquamarine;
        cursor: pointer;
    }
    .iconDropdown {
        color: aquamarine;

        &--active {
            transform: rotate(-180deg);
            transition:transform 0.2s ease-in-out;
        }
    }
}

