.token-container {
    border: 1px solid #eceef7;
    box-shadow: 0px 20px 50px rgb(220 224 249 / 50%);
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 24px;
    span {
        padding: 4px 10px;
        background: #d4d9de;
        font-size: 12px;
        font-weight: 500;
        border-radius: 20px;
        color: white;
    }

    .token-content__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 20px 0;

        h3 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0px;
        }

        img {
            width: 30px;
            height: 30px;
            margin-right: 18px;
        }

        span {
            color: #21ce66;
            background-color: #f4f6f6;
        }
    }

    .token-content__price {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .token-price__box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .token-price__inf {
            h1 {
                margin-left: 238%;
            }
        }

        h1 {
            margin-bottom: 0px;
            font-size: 28px;
            font-weight: bold;
            color: #482ee8;
            margin-right: 10px;
        }
    }
}

.token-content__inf {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        width: calc((100% - 20px) / 3);

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #a5a2b8;
            padding: 15px 5px;

            .detail-tippy {
                border-radius: 6px;
                background: #eff2f5;
                padding: 4px 24px;
                white-space: nowrap;
                width: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 55%;
                cursor: pointer;
                font-size: 12px;

                &:hover {
                    background-color: #808a9d;
                    cursor: pointer;
                    color: rgb(255, 255, 255);
                }
            }

            .detail-tippy-caret-down {
                position: absolute;
                right: 34px;
                font-size: 16px;
            }

            p {
                font-size: 14px;
                margin-bottom: 0;
                color: #333;
                font-weight: 500;

                &:last-child {
                    color: #a5a2b8;
                }
            }
        }
    }
}

.token-container-skeleton {
    border: 1px solid #eceef7;
    box-shadow: 0px 20px 50px rgb(220 224 249 / 50%);
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 24px;
}

.token-skeleton-heading {
    display: flex;
    margin-bottom: 14px;
    // justify-content: space-around;
}

.token-skeleton-symbol {
    flex: 1;
    margin-left: 30px;
}

.skeleton-title-full-width {
    margin-bottom: 10px;
}



.icon-copied {
    border: none;
    background: none;
    padding: 0 12px;
    svg {
        font-size: 18px;
    }
}

.token-price {
    display: flex;
    align-items: center;
}