.shark-wallet {
    padding-bottom: 17px;

    span {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #a5a2b8;
    }
}

.shark-wallet__content {
    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: #352e5b;
        margin-top: 50px;
        margin-bottom: 28px;
    }
}

.shark-overview {
    background-color: #a697ff;
    padding: 5px 0px;
    border-radius: 12px;
    height: 100vh;
}

.shark-search {
    display: flex;
    // justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    font-size: 14px;
    margin-left: 12px;

    input {
        padding: 5px 8px;
        border-radius: 8px;
        border: none;
    }
}

.shark-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    border-radius: 8px;
    background: #f2f4f8;
    font-size: 14px;

    p {
        margin-bottom: 0;
        margin-right: 5px;
    }
}

.table-shark {
    background-color: #a697ff;
    color: #fff;

    thead {
        th {
            padding: 11px 0 10px 0;
            background-color: #a697ff;
            text-align: center !important;
            color: #473d85;
            text-transform: uppercase;
        }
    }

    tbody {
        tr {
            td {
                padding: 10px 0 10px 0px !important;
                text-align: center;
            }

            &:hover {
                opacity: 0.5;
                background: cornflowerblue;
                cursor: pointer;
            }
        }
    }
}

.range {
    height: 24px;
}

.search-shark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    text-transform: uppercase;
    h4 {
        margin-right: 10px;
        font-weight: 500;
    }
    input {
        width: 100%;
    }
}

//search

.container__search {
    --color-primary-white: #fff;
    position: relative;

    input {
        width: 100%;
        outline: none;
        border: none;
        font-weight: 500;
        font-size: 14px;
        color: rgb(0, 0, 0);
        padding: 3px 8px;
        background-color: var(--color-primary-white);
        border: 2px solid rgb(255, 255, 255);
        border-radius: 8px;
        padding-inline-start: 32px;

        &:hover {
            background-color: var(--color-primary-white);
        }
        &:focus-within {
            background-color: var(--color-primary-white);
        }
    }

    .search--icon {
        color: rgb(166, 176, 195);
        font-size: 14px;
        position: absolute;
        left: 5%;
        top: 32%;
    }
}
