.shark-wallet {
    padding-bottom: 17px;

    span {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #a5a2b8;
    }
}

.shark-wallet__content {
    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: #352e5b;
        margin-top: 50px;
        margin-bottom: 28px;
    }
}

.shark-overview {
    background-color: #A697FF;
    padding: 5px 0px;
    border-radius: 12px;
    height: 100vh;
}

.shark-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    font-size: 14px;

    input {
        padding: 5px 8px;
        border-radius: 8px;
        border: none;
    }
}

.shark-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    border-radius: 8px;
    background: #F2F4F8;
    font-size: 14px;

    p {
        margin-bottom: 0;
        margin-right: 5px;


    }
}


.table-shark {
    background-color: #A697FF;
    color: #fff;

    thead {
        th {
            padding: 11px 0 10px 0;
            background-color: #A697FF;
            text-align: center !important;
            color: #473d85;
            text-transform: uppercase;
        }
    }

    tbody {
        tr {
            td {
                padding: 10px 0 10px 0px !important;
                text-align: center;
            }

            &:hover {
                opacity: 0.5;
                background: cornflowerblue;
                cursor: pointer;
            }
        }
    }
}