.asset {
    --width-box: 269px;

    padding-bottom: 17px;

    span {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #a5a2b8;
    }

    .asset-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 28px;
            line-height: 36px;
            color: #352e5b;
            margin-top: 12px;
            margin-bottom: 28px;
        }

        p {
            margin-top: 45px;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #a69ed6;
        }
    }

    .asset-coin {
        p {
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #333;
            margin-bottom: 24px;
        }

        .asset-coin-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .asset-coin--box {
                width: calc((100% - 3%) / 3);
                background: #fff;
                border-radius: 10px;
                padding: 13px;
                box-shadow: 0px 1px 3px 0px rgb(60 64 67 / 30%), 0px 4px 8px 3px rgb(60 64 67 / 15%);

                .asset-chart--box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 16px;

                    .asset-dolar {
                        p {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 26px;
                            color: #ffffff;
                            margin-bottom: 0;
                        }

                        h4 {
                            font-weight: 500;
                            font-size: 40px;
                            line-height: 52px;
                            letter-spacing: 0.04em;
                            color: #ffffff;
                            margin-bottom: 0;
                        }
                    }
                }

                .asset-gain {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .asset-gain-box {
                        p {
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            color: #ffffff;
                            margin: 0;
                            padding-bottom: 4px;
                        }

                        .asset-percent {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 18px;
                            color: #84f3b7;
                        }
                    }
                }
            }
        }
    }
}

.hide-box {
    width: calc((100% - 3%) / 4) !important;
}

.coin-asset__news-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coin-asset__box--more-link {
    display: flex;
    align-items: center;

    h5 {
        margin: 0;
    }
}

.coin-asset__news-body {
    display: flex;
    margin-top: 18px;
}

.news-title {
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
}

.news-desc {
    font-size: 16px !important;
    margin: 0 !important;
    padding: 10px 0;
}

.news-coins-related {
    border-radius: 14px;

    padding: 2px 8px;
    background: #eff2f5;
}

