.tr-crypto__item {
    text-align: center;
    border-bottom: 1px solid #fff;
    td {
        padding: 8px 0 8px 0;
        text-align: center;
        border-right: 1px solid #fff;

    }

    &:hover {
        opacity: 0.5;
        background: cornflowerblue;
        cursor: pointer;
    }

}

.crypto-item {
    text-align: start;
    margin: 0px 0px 0px 5px;
    border-right: 1px solid #fff;
    padding: 5px;

    .cryto-item__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .people-image {
        margin-right: 10px;
    }

    p {
        margin-bottom: 0;
    }

    span {
        padding: 2px 12px;
        background: #1f3747;
        border-radius: 19px;
        font-size: 14px;
    }

    li {
        list-style: none;
    }
}

.crypto-item__Text {
    display: flex;
    justify-content: flex-start;
}