.wrapper {
    position: fixed;
    inset: 0px;
    z-index: 100;
    display: flex;
    justify-self: center;
    align-items: center;
}

.wrapper.closing .overlay {
    animation: fadeOut 0.5s forwards;
}

.wrapper.closing .container {
    animation: fadeOut 0.5s forwards, growDown 0.5s forwards;
}

.overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    animation: fadeIn 0.5s;
}

.container {
    position: relative;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 8px;
    // padding-top: 48px;
    animation: fadeIn 0.5s, growUp 0.5s;
}

.close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes growUp {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes growDown {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.2);
    }
}
