.asset {
    padding-bottom: 17px;
    margin-top: 48px;
    margin-right: 3%;
    span {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #A5A2B8;
    }

    .asset-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 28px;
            line-height: 36px;
            color: #352E5B;
            margin-bottom: 24px;
        }

        p {
            margin-top: 45px;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #A69ED6;
        }
    }

    .asset-coin {
        p {
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #7165BE;
            margin-bottom: 24px;
        }
        .asset-coin-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .asset-coin--box {
                width: 269px;
                background: #9381FF;
                border-radius: 10px;
                padding: 13px;
                .asset-chart--box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 16px;
                    .asset-dolar {
                        p {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 26px;
                            color: #FFFFFF;
                            margin-bottom: 0;
                        }
    
                        h4 {
                            font-weight: 500;
                            font-size: 40px;
                            line-height: 52px;
                            letter-spacing: 0.04em;
                            color: #FFFFFF;
                            margin-bottom: 0;
                        }
                    }
                }
    
                .asset-gain {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .asset-gain-box {
                        p {
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            color: #FFFFFF;
                            margin: 0;
                            padding-bottom: 4px;
                        }
                        .asset-percent {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 18px;
                            color: #84F3B7;
                        }
                    }
                }
            }
        }
        
    }

}

.asset-notification {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 0;
    margin-top: 20px;
    li {
        list-style: none;
        span {
            color: #6B53F8;
        }
    }
}