.shark-wallet {
    margin-left: 30px;
}

.shark-wallet__content {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #352e5b;
    margin-top: 20px;
    margin-bottom: 18px;
}