.shark-wallet {
    margin-left: 30px;
}

.shark-wallet__content {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #352e5b;
    margin-top: 20px;
    margin-bottom: 18px;
    h2 {
        font-size: 28px;
        text-align: center;
    }
}

//shark filter  range

.shark-range-filter {
    width: 33.5%;
    padding: 12px;
    border-radius: 8px;
    background: #fff;
    box-shadow: rgb(128 138 157 / 12%) 0px 1px 2px, rgb(128 138 157 / 24%) 0px 8px 32px;
    margin-top: 16px;
}

.shark-filter-range-container {
    font-size: 14px;
    font-weight: 500;
    display: flex;
}

.range-dollar {
    margin-right: 6px;
    font-weight: 300;
}

.range-start {
    font-size: 14px;
    font-weight: 500;
}

.range-spread {
    margin: 0px 6px;
}

.current-average {
    color: rgb(156, 163, 175);
    font-size: 12px;
    margin-top: 14px;
    display: block;
}

//add to shark
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}
/* styling of whole input container */
.form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding: 22px;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
    border: 3px solid #eee;
    margin: 12px 0;
}

.input {
    font-size: 14px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

.form:before {
    content: '';
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

.form:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}

.form:focus-within:before {
    transform: scale(1);
}

.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}

.form svg {
    width: 17px;
    margin-top: 3px;
}
