.referent-item {
    display: flex;
    align-items: stretch;
    padding: 8px 20px;
}

.referent-item-img {
    width: 30px;
    height: 30px;  
    margin-right: 18px;

}

.referent-item-name {
    // margin-right: 20px;

    span {
        font-weight: 500;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.93);
        margin-bottom: 4px;
        display: block;
    }

    p {
        font-weight: 500;
        font-size: 12px;
        color: #6c6a77;
        margin: 0;
    }
}

.referent-item-value {
    flex: 1 1;
    text-align: end;

    span {
        font-weight: 500;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.93);
        margin-bottom: 4px;
        display: block;
    }

    p {
        font-weight: 500;
        font-size: 14px;
        color: #21ce66;
        margin: 0;

    }
}

.increase {
    color: #21ce66;
}

.reduce {
    color: #f33a58;
}
