.nav-item {
    color: rgb(88, 102, 126);
    cursor: pointer;
}

p {
    margin-bottom: 0;
}

.crypto,
.transaction-history,
.detail-info {
    color: #482ee8;
    font-weight: 600;
}

// search crypto

.shark-search {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 12px;
    animation: fadeIn 0.4s forwards;

    form {
        border: 3px solid #eee;
        border-radius: 8px;
        transition: border-color 0.5s;
        &:hover {
            background-color: #fff;
            border: 3px solid #3861fb;
        }
        &:focus-within {
            background-color: #fff;
            border: 3px solid #3861fb;
        }
    }

    input {
        padding: 5px 14px;
        border-radius: 8px;
        border: none;
        width: 200px;
        outline: none;
    }
}

.shark-search.hide-search-shark {
    animation: fadeOut 0.4s forwards;
}

.container__search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
