.recommend-account-follow {
    box-shadow: rgb(88 102 126 / 8%) 0px 4px 24px, rgb(88 102 126 / 12%) 0px 1px 2px;
    border-radius: 8px;

    padding: 20px;
    min-width: 451px;
    margin: 20px;
}



.heading-follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    span {
        font-size: 18px;
        font-weight: 600;
        color: #101113;
    }
}


.pagination-follow {
    svg {
        cursor: pointer;
    }
}