.modal-forgot-password {
    padding: 30px;

    width: 450px;

    .modal-heading {
        color: rgba(0, 0, 0, 0.6);
        font-size: 18px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 22px;
    }

    .modal-title {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 10px;
    }

    .modal-body {
        display: flex;
        flex-direction: column;

        input {
            border: 1px solid #d0d5dd;
            border-radius: 8px;
            width: 100%;
            padding: 16px;

            outline: none;
            height: 50px;
        }

        &:focus {
            border-color: var(--primary-color);
        }
    }
}

.modal-submit {
    text-align: center;
    margin-top: 24px;
    position: relative;
}

.modal-submit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 97, 251);
    color: white;
    width: 100%;
    font-size: 14px;
    height: 50px;
    font-weight: 600;
    border-radius: 8px;
    border: 0px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), rgb(56, 97, 251);
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    &:disabled {
        background: rgb(56, 97, 251);
        color: rgb(255, 255, 255);
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.modal-submit-btn.loading-find-code {
    background-color: #a6b0c3;
    cursor: not-allowed;
}

.loading {
    position: absolute;
    right: 60%;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    color: rgba(22, 24, 35, 0.34);

    svg {
        color: #fff;
    }
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.error-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
    color: #f33a58;
}
