.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001a2c;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,29,33,0.8995973389355743) 100%);
}

.body {
    padding: 36px;
    border: 1px solid #133752;
    background-color: #001a2c;
    margin-bottom: 40px;
}

.colMiddle {
    width: 85%;
    float: right;
}

.NavHeader {
    padding: 1.5% 5% 1.5% 28%;
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        color: aquamarine;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
            color: #fff;
        }
    }
}

.iconAccount {
    width: 20px;
    height: 20px;
    color: aquamarine;
}

.NavHeader-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: wheat;
    width: 60%;
    li {
        margin-right: 8px;
        &:first-child {
            margin-right: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        list-style: none;
        transition: 0.5s;
        &:hover {
            color: aquamarine;
        }
    }
}