.market-change {
    width: 100%;
    display: flex;
}

.col50 {
    width: 50%;

}

.layout-common-container {
    width: 85%;
    margin: 0 auto;
    background: #fff;
    height: 100vh;
    border-radius: 4px;
    box-shadow: rgb(128 138 157 / 12%) 0px 1px 2px, rgb(128 138 157 / 24%) 0px 8px 32px;
    .layout-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 4px 4px 0 0;
        background-color: rgb(239, 242, 245);
        h5 {
            text-transform: uppercase;
            font-size: 21px;
            color: #333;
            font-weight: 600;
        }
        .layout-content__btn {
            margin-left: 10px;
        }
    }
}

.btn-gain {
    background-color: aquamarine;
    color: white;
    padding: 2px 10px;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #fff;
    transition: 0.5s;
    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

.btn-loss {
    background-color: red;
    color: white;
    padding: 2px 10px;
    font-size: 14px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid red;
    transition: 0.5s;
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.table-gain {
    .tbody-gain {
        background: #a697ff;
        color: #fff;
        font-size: 14px;
    }
    .gain-tr {
        position: sticky;
        z-index: 90;
        top: 0;
        background: rgb(239, 242, 245);
        border-bottom: 1px solid #eff2f5;
        border-top: 1px solid #eff2f5;
        color: #473d85;
        .gain-th {
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            text-transform: uppercase;
            text-align: center;
        }
    }
}