.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
    padding: 11px 10px;
    border-bottom: 1px solid #fff;
    p {
        margin-bottom: 0;
    }
}


.nav-item__title {
    margin-bottom: 0;
    margin-right: 8px;
    font-size: 18px;
    transition: 0.5s;
    &:hover {
        color: #482ee8;
    }
}
