.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001a2c;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,29,33,0.8995973389355743) 100%);
}

.body {
    padding: 36px;
    border: 1px solid #133752;
    background-color: #001a2c;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 16px;
    width: 260px;
}

.label {
    font-size: 1.2rem;
    color: var(--text-white);
    display: block;
    margin-bottom: 8px;
    font-family: monospace;
}

.input-group {
    display: flex;
    position: relative;

    &__addon {
        position: absolute;
        top: 6px;
        left: 10px;
    }

    input {
        border-radius: 5px;
        outline: none;
        width: 100%;
        padding: 8px 8px 8px 40px;
        border: 1px solid #dbe5ee;
    }

     &__eye-icon {
         position: absolute;
         top: 10px;
        right: 10px;
    }
}

.error {
    color: red;
    font-family: monospace;
    font-size: 1.2rem;
    margin-top: 8px;
}

.success {
    color: rgb(33, 233, 33);
    font-family: monospace;
    font-size: 1.2rem;
    margin-top: 8px; 
}

.btn-submit {
    width: 100%;
    background-color: aquamarine;
    border: 1px solid transparent;
    border-color: aquamarine;
    color: #333;
    padding: 8px 0;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 16px;

    &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #2e6e98;
        border-color: #2b678e;
    }
}

.navigate {
    color: var(--text-white);
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;

    a {
        color: #78d3f8;
        margin-left: 8px;

        &:hover {
            color: rgb(0, 227, 180);
        }
    }
}
