.shark-crypto {
    background-color: #A697FF;
    border-radius: 8px;
    margin-left: 2%;
}

.crypto-list__choose {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
    padding: 8px 10px;
    border-bottom: 1px solid #fff;

    h6 {
        color: #fff;
        margin-bottom: 0;
        margin-right: 8px;
        transition: 0.5s;

        &:hover {
            color: #4200FF;
            cursor: pointer;
        }
    }

}

.table-shark__crypto {
    background: #A697FF;
    color: #fff;

    thead {
        tr {
            background: #A697FF;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;

            &:hover {
                background: none;
                cursor: default;
            }

            th {
                padding: 10px;
                border-right: 1px solid #fff;
            }
        }
    }
}

.tr-crypto__item {
    text-align: center;

    td {
        padding: 8px 0 8px 0;
        text-align: center;
        border-right: 1px solid #fff;
    }

    &:hover {
        opacity: 0.5;
        background: cornflowerblue;
        cursor: pointer;
    }

}

.crypto-item {
    text-align: start;
    margin: 0px 0px 0px 5px;
    border-right: 1px solid #fff;
    padding: 5px;
    .cryto-item__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .people-image {
        margin-right: 10px;
    }

    p {
        margin-bottom: 0;
    }

    span {
        padding: 2px 12px;
        background: #1f3747;
        border-radius: 19px;
        font-size: 14px;
    }

    li {
        list-style: none;
    }
}